@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
  
/* NAVIGATIONAL BAR
----------------------------------------
*/

/* navigational bar using the sticky positional value and a top value of 0 to keep it following the user's scrolling position
----------------------------------------
*/
nav
    {background-color: RGBA(240, 80, 10, 1);
    font-family: "Russo one";
    height: auto;
    padding: 10px 0px;
    position: sticky;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* z-indexes are semantically significant as they are used to indicate what the stacking order is for elements, that is to say they show what overlaps and goes on top of what
----------------------------------------
*/

#touch{
   display: none;
}

#nav-mobile{
    display: none;
}

nav>div{
    display: flex;
    width: 80%;
}

nav label{
    display: none;
}

nav label>img{
    width: 50px;
    height: 50px;
    margin-right: 50px;
}

.navwrap{
   flex: 5 1 60%; 
    display: flex;
    justify-content: space-between;
}

.clickable_links
    {color: white;
    padding: 10px 20px 10px 20px;
    font-size: 1.2em;
}

/* the pseudo class ":hover" as a selector allows me to add properties to nav a at a special state
----------------------------------------
*/

.clickable_links:hover
    {background-color: RGBA(30,30,30,1);}

nav form{
    flex: 1 5 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px; 
}

nav input{
    font-family: "Kanit";
    height: 30px;
    margin-right: 10px;
}

button{
    width: 25.2px;
    height: 25.2px;
    background-color: white;
    border: none;
   
}
 
/* REGISTRATION PAGE
----------------------------------------
*/

#image_register{

}


#registration_form
    {border-style: dotted;
    font-family: "Kanit";
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 860px;
    height: 900px; 
    padding: 20px 20px;
    margin-left: 329.6px;
}

/* COMPETITIONS PAGE
----------------------------------------
*/

#competitionsdiv{
    display: inline-flex;
    flex-direction: row;
}

#competitionimg_2{
    margin-top: 300px;
}

p[class="headerpadding"]{
    font-weight: bold;
}


/* ABOUT US PAGE
----------------------------------------
*/

.about-img{
    width: 50%;
    height: auto;
}

blockquote{
    font-style: italic;
    font-family: "Russo one";
	font-size: 2em;
    background-color: RGBA(180,180,180,1);
    padding: 20px;
    width: 40%;
    align-self: flex-end;
    }

/* HOME PAGE
----------------------------------------
*/

#home_page_header{
    display: flex;
    flex-direction: row;
    width: 74%;
    position: relative;
    margin: 30px auto;
}

#home_page_header img{
    width: 100%;
    height: auto;
}

#register_heading:hover{
    background-color: RGBA(30,30,30,1);
}

#register_heading{
    z-index: 1;
    margin: 0;
    }

#registerheaderlink{
    position: absolute;
    left: 75%; 
    top: 40%;
}

#header_news_aside{
    background-color: RGBA(240, 80, 10, 1);
    padding: 20px 20px;
    width: 365px;
}

#homemaindiv
    {
    display: grid;
    grid-template-areas: 'art1 art1 art1 aside'
                'art2 art2 art2 aside'
                'art3 art3 art3 aside'
                'tournament tournament tournament tournament'
                'tournament tournament tournament tournament';
    grid-row-gap: 130px;
    grid-column-gap: 12%;
}


/* margin properties are used in css to spread elements apart and provide structure and layout
----------------------------------------
*/

.mainarticles 
    {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    border-style: dotted;
    color: black;
    margin-left: 4%;
}

#art1{
    grid-area: art1;
}

#art2{
    grid-area: art2;
}

#art3{
    grid-area: art3;
}

.mainarticles p{
    width: 70%;
}

#about_main{
    display: inline-flex;
}

#sendform:hover{
    background-color: white;
}

#tournament_container
    {background-color: RGBA(30,30,30,1);
    width: 100%;
    height: auto;
    color: white;
    display: flex;
    flex-direction: column;
    grid-area:  tournament;
}

#tournament_text 
    {padding-left: 50px;
        margin-bottom: 100px;
        width: 70%;
   }

#tournament_images
    {display: inline-flex;
    align-items: center;
    height: auto;
    background-color: RGBA(240, 80, 10, 1);
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
   }

#tournament_images img{
    width: 100%;
    height: auto;
}

/* padding filled with the background colour property creates quadrilateral shapes that give the web pages structure and visual appeal
----------------------------------------
*/

aside
    {   
        grid-area: aside;
        background-color: RGBA(30,30,30,1);
        color: white;
        font-family: "Kanit";
        padding: 20px 40px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
}

aside section p:last-child
    {font-size: 0.8em;}

aside div:last-child{
    margin-top: 50px;
}

.headerpaddingaside{
    align-self: flex-start;
}

/* WHY PLAY PAGE
----------------------------------------
*/

#article_dashed2{
    padding: 20px 20px;
    width: 55%;
    border-style: dotted;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 50px;
    margin-right: 20%;
}

#article_dashed2 p {
    width: 70%;
}

#article_dashed2 img{
    position: absolute;
    width: 30%;
    height: auto;
    left: 55%;
    top: 80%;
}

/* NEWS PAGE
----------------------------------------
*/
#news_navigation{
 font-family: "Russo one";
    padding: 30px 20px; 
    background-color: RGBA(30,30,30,1);
    color: white;
    width: 380px;
    margin-top: 80px;
    display: inline-flex;
    justify-content: space-between;
    align-self: center;
}

#news_navigation img{
    margin: 0px 10px;
}

#news_navigation div{
    display: flex;
    align-items: center;
}

.page{
    font-size: 2em;
}

.paragraph_news{
    font-weight: bold;
    margin-bottom: 20px;
}

/* FIND US PAGE
----------------------------------------
*/

iframe{
    height: 450px;
    width: 600px;
    align-self: center;
}



/* COMPETITIONS PAGE
----------------------------------------
*/

.competitionimg{
    width: 30%;
    height: auto;
}

.competitionsarticles
    {width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* PRIVACY STATEMENT PAGE
----------------------------------------
*/


/* DOWNLOADS PAGE
----------------------------------------
*/

.download_icons{   
    background-color: RGBA(240, 80, 10, 1);
}

#downloads_list{
    font-family: "Kanit";
    border-style: dotted;
    padding: 4px 20px;
    width: 300px;
    align-self: center;
}

.icons_container{
    width: 300px;
    display: inline-flex;
    flex-direction: row;
    margin-top: 15px;
}

.downloads_List_text{
    background-color: RGBA(180,180,180,1);
    height: 35px;
    width: 400px;
    padding-top: 10px;
    padding-left: 10px;
}

/* CONTACT US PAGE
----------------------------------------
*/

#contact_div{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#contact_div a{
    flex-basis: 25%;
}

/* COMPLETED FORM PAGE
----------------------------------------
*/

#completed_form
    {border-style: dotted;
    font-family: "Kanit";
    padding: 10px 20px;
    margin-left: 581.6px;
    margin-top: 150px;
    width: 310px;
    }

/* FOOTER
----------------------------------------
*/
/* footer icons uses .svg files for minimal file space
----------------------------------------
*/
footer
    {font-family: "Kanit";
     background-color: RGBA(240, 80, 10, 1);
     height: auto;
    width: 100%;
        padding: 30px 0px;
     color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;}

/* ids are used in the divs here since i am intending to only select one element per each selector
----------------------------------------
*/


#copyright
    {
    font-size: 0.6em;
    width: 30%;
    align-self: flex-end;
    }

#footer
    {display: flex;
    flex: 3 1 65%;
    justify-content: space-around;
    flex-wrap: wrap;

    align-items: center;
    height: 100%;
}

footer>img{
    flex: 1 3 20%;
    height: 150px;
    width: 294px;
}

#div-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
}

#bottomlinks
    {font-size: 1em;
    width: 80%;
        margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

#bottomlinks a
    {color: white;
       padding: 10px 20px 10px 20px;
}


#bottomlinks a:hover
    {background-color: RGBA(30,30,30,1);}


#medialinks
    {width: 45%;
    display: flex;
    justify-content: space-between;
    }

#medialinks img{
    width: 40px;
    height: 40px;
    padding: 0px 15px;
}

footer img
    {align-self: center}

/* COURT REGISTRATION FORM
----------------------------------------
*/

.article_dashed_hire{
    padding: 20px 20px;
    width: 65%;
    border-style: dotted;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 50px;
    margin-top: 150px;
    font-family: "Kanit";
}


.writing
    {width: 300px;
    height: 30px;
    margin-left: 15px;
    }


.selectionlist
    {background-color: RGBA(180,180,180,1);
    margin: 5px;
    width: 130px;

    padding: 10px 10px;
    display: inline-flex;
    flex-direction: row;
   }

#checkbox{
    height: 230px;
    width: 100px;
    display: flex;
    justify-content: space-around;
    padding: 10px 10px;
    background-color: RGBA(180,180,180,1);
    margin-bottom: 15px;
}

.selection{
    height: 20px;
    width: 20px;
}

#checkbox div{
   display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.textentry
    {background-color: RGBA(180,180,180,1);
    display: flex;
    flex-direction: row;
    height: 50px;
     width: 70%;
    padding: 10px 10px;
    margin-bottom: 15px;}

.court_hire_heading_grey
   {
    padding: 5px 10px 5px 10px;
    background-color: RGBA(180,180,180,1);
    margin-bottom: 15px;
    width: 70%;
}

.court_hire_heading_orange{
    padding: 5px 10px 5px 10px;
    background-color: coral;
    margin-bottom: 15px;
}

textarea{
    resize: none;
    margin-bottom: 80px;
    width: 580px;
    height: 220px;
}

/*GLOBAL STYLES
----------------------------------------
*/

.linkbutton
    {font-family: "Kanit";
    border-style: solid;
    border-color: RGBA(30,30,30,1);
    padding: 5px 10px 5px 10px;   
    background-color: coral;
    margin-top: 30px;
    color: black;
    width: auto;
    font-weight: 500}

.linkbutton:hover
    {background-color: white;}


.page_header{
    width: 55%;
    margin: 30px auto;
    display: flex;
}

body {  
    background-color: azure;
    margin: 0px;
    color: black;
}


p, ul
    {font-family: "Kanit";}

main
    {margin: 100px 0px;
    height: auto;
    display: flex;
    flex-direction: column;
}

h1 
    {font-family: "Russo one";
	font-size: 3em;
	font-weight: 700;
    background-color: RGBA(240, 80, 10, 1);
    padding: 20px;
    color: white;
}

h1 a:hover
     {background-color: black;}

.h1-2
    {font-family: "Russo one";
	font-size: 3em;
	font-weight: 700;
    background-color: RGBA(240, 80, 10, 1);
    padding: 15px;
    float: left;
    color: white;
    box-sizing: border-box;
}

h2 {
    font-family: "Russo one";
	font-size: 1.6em;
	font-weight: 700;
    color: black;
}

.headerpadding, .headerpaddingaside{
    background-color: coral;
    padding: 20px 20px;
    width: 60%;
}

h2 a:hover
    {background-color: white;}

a {
    text-decoration: none;
}

.article_dashed{
    padding: 20px 20px;
    width: 50%;
    border-style: dotted;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 50px;
}


@media screen and (max-width: 1000px){
    
    nav>div{
        display: none;
       }  
    
    nav label{
        display: inline;
    }
    
    nav form{
        flex: 0 1 20%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 0px; 
    }
    
    .competitionsarticles
    {flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

    .competitionimg{
    width: 60%;
    height: auto;
}


    #medialinks img{
    width: 30px;
    height: 30px;
}
    
    #homemaindiv
    {
    grid-template-areas: '... art1 art1 art1 ...'
                '... art2 art2 art2 ...'
                '... art3 art3 art3 ...'
                'aside aside aside aside aside'
                'tournament tournament tournament tournament tournament';
      grid-column-gap: 0%;
}
    
    #article_dashed2 img{
    position: absolute;
    width: 30%;
    height: auto;
    left: 55%;
    top: 100%;
}


    
    aside{
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    aside section{
        flex-basis: 45%;
    }
    
    aside div{
        flex-basis: 100%;
    }

    .mainarticles 
    {
    margin-left: 0%;
}
    
    #register_heading{
    font-size: 2em;
    }
    
    #registerheaderlink{
    left: 80%; 
    top: 40%;
}

    #touch:checked ~ #nav-mobile{
        display: flex;
        flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    height: 370px;
    background-color: RGBA(240, 80, 10, 1);
    right: 25px;
    top: 110px;
    padding: 30px 20px 30px 20px;
    }
    
    #tournament_images{
        flex-direction: column;
        padding: 0px;
    }
    
    #tournament_images img{
    width: 70%;
}
    .article_dashed{
    width: 70%;
}
    textarea{
    width: 480px;
    height: 320px;
}

}


@media screen and (max-width: 800px){
    
    #register_heading{
    font-size: 1.5em;
    }
    
    .article_dashed_hire{
    width: 85%;
}
    
    .page_header{
    width: 75%;
    margin: 30px auto;
    display: flex;
}
    
    #contact_div a{
    flex-basis: 50%;
        margin-top: 25px;
}
    
    #registerheaderlink{
    left: 70%; 
    top: 30%;
}
        .linkbutton{
    font-size: 0.8em;    
    }
    
    h2{
        font-size: 1em;
    }

    p{
        font-size: 0.8em;
    }
    
    textarea{
    width: 380px;
    height: 420px;
}
    
    blockquote{
        font-size: 1.5em;
    }
    
    .textentry{
        flex-direction: column;
        width: 90%;
    }
      
    #div-footer{
    width: 100%;
    margin-top: 20px;
    flex-direction: column;
    align-items: flex-start;
}
    #copyright{
        align-self: auto;
        width: 100%;
        justify-content: flex-end;
        display: flex;
        padding-right: 20px;
        box-sizing: border-box
    }
 
    #bottomlinks
    {
    width: 100%;
  }
    
    footer>img{
    height: 112px;
    width: 220px;
}

#article_dashed2{
    width: 50%;
    margin-right: 0%;
}

#article_dashed2 img{
    position:relative;
    width: 90%;
    align-self: center;
    height: auto;
    left: auto;
    top: auto;
}
    
.about-img{
    width: 80%;
    height: auto;
}
    
iframe{
    height: 315px;
    width: 420px;
    align-self: center;
}
    
    #bottomlinks{
        margin-bottom: 0px;
    }

}

@media screen and (max-width: 500px){
    
    #register_heading{
    font-size: 1em;
    }
    
    #registerheaderlink{
    left: 70%; 
    top: 40%;
}
    
     footer>img{
    height: 84px;
    width: 165px;
}

}
