@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
  
/* NAVIGATIONAL BAR
----------------------------------------
*/

/* navigational bar using the sticky positional value and a top value of 0 to keep it following the user's scrolling position
----------------------------------------
*/
nav
    {background-color: RGBA(240, 80, 10, 1);
    font-family: "Russo one";
    height: 170px;
    margin-left: 0;
    position: sticky;
    top: 0;
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
       
}





/* z-indexes are semantically significant as they are used to indicate what the stacking order is for elements, that is to say they show what overlaps and goes on top of what
----------------------------------------
*/


.clickable_links
    {color: white;
    padding: 10px 20px 10px 20px;
    font-size: 1.2em;
    margin-right: 20px;
}

/* the pseudo class ":hover" as a selector allows me to add properties to nav a at a special state
----------------------------------------
*/

.clickable_links:hover
    {background-color: RGBA(30,30,30,1);}

form
    {
  margin-left: 300px;
  flex: 1; 
    }

input
    {font-family: "Kanit";}

button 
{
width: 25.2px;
    height: 25.2px;
    background-color: white;
    border: none;
   
}
 
/* REGISTRATION PAGE
----------------------------------------
*/

#image_register{
     position: absolute;
    top: 470px;
    left: 650px;
}

#registration_header{
    margin-left: 50px;
    margin-bottom: 50px;
    width: 600px;
    height: 120px;
}


   

#registration_form
    {border-style: dotted;
    font-family: "Kanit";
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 860px;
    height: 900px; 
    padding: 20px 20px;
    margin-left: 329.6px;
}

/* COMPETITIONS PAGE
----------------------------------------
*/

#competitionsdiv{
    display: inline-flex;
    flex-direction: row;
}

.competitions_images{
    border-style: solid;
    border-color: azure;
    border-width: 40px;
}

#competitionimg_2{
    margin-top: 300px;
}

#competitionimg_2{
    margin-top: 300px;
}

#competitionimg_2{
    margin-top: 300px;
}

/* ABOUT US PAGE
----------------------------------------
*/
blockquote{
    font-style: italic;
    font-family: "Russo one";
	font-size: 2em;
    background-color: RGBA(180,180,180,1);
    padding: 20px;
    width: 600px;
    height: 150px;
    position: absolute;
    right: 100px;
    align-self: baseline;
    border-style: solid;
    border-color: azure;
    border-width: 40px;
    z-index: 2;}

.mainarticles2
    {
    margin-left: 50px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 180px;
    border-style: dotted;
    margin-bottom: 130px;
    margin-right: 30px;
    width: 580px;
    height: 750px;
    color: black;
    flex-shrink: 1;
    z-index: 1}

/* HOME PAGE
----------------------------------------
*/
#home_page_header{
    margin-left: 50px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 1400px;
    height: 700px;
}


#register_heading:hover{
    background-color: RGBA(30,30,30,1);
}

#register_heading{
    z-index: 1;
    width: 400px;
    height: 130px;
    }

#registerheaderlink{
    position: relative;
    right: 200px;
    
}

#header_news_aside{
    background-color: RGBA(240, 80, 10, 1);
    padding: 20px 20px;
    width: 365px;
}

#homemaindiv
    {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-basis: 50%;   
    margin-top: 200px; 
    margin-bottom: 200px;
    height: 1490px;
}

/* margin properties are used in css to spread elements apart and provide structure and layout
----------------------------------------
*/

.mainarticles
    {
    margin-left: 50px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 180px;
    border-style: dotted;
    margin-bottom: 130px;
    width: 580px;
    height: 300px;
    color: black;
    flex-shrink: 1;}

section:first-child{
    margin-bottom: 140px;
}

#about_main{
    display: inline-flex;
}

.linkbutton
    {font-family: "Kanit";
    border-style: solid;
    border-color: RGBA(30,30,30,1);
    padding: 5px 10px 5px 10px;
    position: relative;
    top: 80px;
    background-color: RGBA(240, 80, 10, 1);
    color: black;}

.linkbutton:hover
    {background-color: white;}

#sendform:hover{
    background-color: white;
}

#tournament_container
    {background-color: RGBA(30,30,30,1);
    width: 1519.2px;
    height: 700px;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;}

#tournament_text 
    {padding-left: 50px;
        padding-right: 300px;
    height: 350px;
        margin: 0;
        width: inherit;
   }

#tournament_images
    {display: inline-flex;
    align-self: baseline;
    height: 519px;
    margin-top: 0;
   }

/* padding filled with the background colour property creates quadrilateral shapes that give the web pages structure and visual appeal
----------------------------------------
*/

aside
    {height: inherit;
          background-color: RGBA(30,30,30,1);
        width: 445px;
        color: white;
        align-self: flex-end;
        margin-right: 50px;
}

ul
    {
     font-family: "Kanit";
    padding-right: 20px;
    padding-bottom: 20px;}



li p:last-child
    {font-size: 0.8em;}

/* WHY PLAY PAGE
----------------------------------------
*/

#container_whyplay img{
 position: relative;
    top: 130px;
    right: 170px;
}

.mainarticles3
    {
    margin-left: 50px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 180px;
    border-style: dotted;
    margin-bottom: 130px;
    margin-right: 30px;
    width: 550px;
    height: 600px;
    color: black;
    }

#headerwhyplay{
    background-color: RGBA(240, 80, 10, 1);
    padding: 20px 20px;
  
}

#container_whyplay{
    display: inline-flex;
    flex-direction: row;
     width: 1519.2px;
}

/* NEWS PAGE
----------------------------------------
*/
#news_navigation{
 font-family: "Russo one";
    padding: 30px 20px; 
    background-color: RGBA(30,30,30,1);
    color: white;
    
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-left: 509.6px;
    margin-bottom: 170px;
}

#previous_page{
    font-size: 1.4em;
    margin-left: 10px;
    margin-right: 20px;
}

.mainheader{
    margin-left: 50px;
    margin-bottom: 50px;
    width: 500px;
}

#next_page{
    font-size: 1.4em;
    margin-left: 20px;
    margin-right: 10px;
}

#news_main{
    display: flex;
    font-size: 1em;
    height: 3800px;
}

.paragraph_news{
    font-weight: bold;
    margin-bottom: 20px;
}

#news_image_1{
    margin-top: 50px;
}

#news_image_2{
    margin-top: 245px;
}

#news_image_3{
    margin-top: 245px;
}

#news_image_4{
    margin-top: 230px;
}

#news_image_5{
    margin-top: 240px;
}

#news_image_6{
    margin-top: 240px;
}

/* FIND US PAGE
----------------------------------------
*/

.findus_header{
    margin-left: 513.8165px;
    width: 450px;
}

iframe{
    margin-left: 359.6px;
}

/* COMPETITIONS PAGE
----------------------------------------
*/
#div_competitions{
    position: relative;
    right: 180px;
}

#competitionimg_1,#competitionimg_2,#competitionimg_3{
    border-style: solid;
    border-color: azure;
    border-width: 40px;
}

#competitionimg_1{
    margin-top: 60px;
}

#competitionimg_2{
    margin-top: 230px;
}

#competitionimg_3{
    margin-top: 240px;
}

.competitionsarticles
    {
    margin-left: 50px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 180px;
    border-style: dotted;
    margin-bottom: 130px;
    width: 580px;
    height: 500px;
    color: black;
    flex-shrink: 1;}

/* PRIVACY STATEMENT PAGE
----------------------------------------
*/
#container_privacy{
  padding: 20px 20px;
    margin-left: 459.6px;
    margin-bottom: 170px;
    width: 560px;
    border-style: dotted;
    display: flex;
    flex-direction: row;
    height: 1260px;
}

#header_privacy
    {font-family: "Russo one";
	font-size: 3em;
	font-weight: 700;
    background-color: RGBA(240, 80, 10, 1);
    padding: 15px;
        width: 500px;
        margin-left: 493.25px;
        color: white;}

/* DOWNLOADS PAGE
----------------------------------------
*/

#downloads_list{
    font-family: "Kanit";
    width: 200px;
    margin-bottom: 10px;
}

.download_icons{
    
    background-color: RGBA(240, 80, 10, 1);
}

#downloads_header{
    margin-left: 436.7px;
    width: 600px;
}

#main_downloads{
    
    border-style: dotted;
    padding: 4px 20px;
    margin-left: 536.6px;
    width: 300px;
}

.icons_container{
    width: 300px;
    display: inline-flex;
    flex-direction: row;
    margin-top: 15px;
}

.downloads_List_text{
    background-color: RGBA(180,180,180,1);
    height: 35px;
    width: 400px;
    padding-top: 10px;
    padding-left: 10px;
}

/* CONTACT US PAGE
----------------------------------------
*/
#main_contact{
    padding: 20px 20px;
    margin-left: 459.6px;
    width: 600px;
    border-style: dotted;
}

.contactus_header{
    margin-left: 589.8835px;
    width: 300px;
}

#contact_div{
    display: inline-flex;
    flex-direction: row;
    width: inherit;
    justify-content: space-evenly;
}

#headercontact{
    margin-left: 23px;
     background-color: RGBA(240, 80, 10, 1);
    padding: 20px 20px;
    margin-top: 80px;
    width: 500px;
}

/* COMPLETED FORM PAGE
----------------------------------------
*/

#completed_form
    {border-style: dotted;
    font-family: "Kanit";
    padding: 10px 20px;
    margin-left: 581.6px;
    margin-top: 150px;
    width: 310px;
    }

/* FOOTER
----------------------------------------
*/
/* footer icons uses .svg files for minimal file space
----------------------------------------
*/
footer
    {font-family: "Kanit";
     background-color: RGBA(240, 80, 10, 1);
     height: 260px;
        width: 100%;
     color: white;
        display: flex;
    flex-direction: row;
   flex-wrap: wrap;
        flex-basis: 50%;
        align-items: center;}

/* ids are used in the divs here since i am intending to only select one element per each selector
----------------------------------------
*/


#copyright
    {
    font-size: 0.8em;
    margin-right: 50px;
    }

#footer
    {display: flex;
    width: 820px;
    justify-content: flex-end;
    flex-wrap: wrap;
    height: inherit;
    align-items: center;
    margin-left: 180px;
}

#bottomlinks
    {font-size: 1.3em;
    flex-basis: 100%;
  }

#bottomlinks a
    {color: white;
       padding: 10px 20px 10px 20px;
    margin-left: 50px;}


#bottomlinks a:hover
    {background-color: RGBA(30,30,30,1);}


#medialinks
    {width: 535.9px;
   
    }

#medialinks a
    {margin: 0px 25px 0px 25px;}

footer img
    {align-self: center}

/* COURT REGISTRATION FORM
----------------------------------------
*/
.header
    {width: 710px;
   padding-top: 20px;
    margin-left: 63px;}

#court_hire_wrapper{
    margin-left: 306.6px;
}

#court_hire
    {border-style: dotted;
    font-family: "Kanit";
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 860px;
    height: 1300px; 
    padding: 20px 20px;}

.writing
    {width: 300px;
    }


.selectionlist
    {background-color: RGBA(180,180,180,1);
    margin: 5px;
    width: 130px;
    height: 150px;
    padding: 10px 10px;
    display: inline-flex;
    flex-direction: row;
   }

.selectionlist p{
    margin-bottom: 10px;
}

#hhhjjhj{
    height: inherit;
    width: 50px;
}

#vcbnbgf{
    height: inherit;
    width: 20px;
}

.selection
    {background-color: RGBA(180,180,180,1);
    margin: 5px;
    width: 35px;
    height: 15px;
    padding: 10px 10px;}

.textentry
    {background-color: RGBA(180,180,180,1);
    margin: 5px ;
    width: 900px;
    height: 50px;
    padding: 10px 10px;}

.textentry2
    {background-color: RGBA(180,180,180,1);
    margin: 5px 400px 5px 5px;
    width: 900px;
    height: 240px;
    padding: 10px;}

.court_hire_heading_grey
   {width: 450px;
    font-family: "Kanit";
    padding: 5px 10px 5px 10px;
    background-color: RGBA(180,180,180,1);
        margin: 5px;
       flex-basis: 100%;
}

.court_hire_heading_orange{
    width: 900px;
    font-family: "Kanit";
    padding: 5px 10px 5px 10px;
    background-color: RGBA(240, 80, 10, 1);
        margin: 5px ;
}

#sendform
    {font-family: "Kanit";
    border-style: solid;
    border-color: RGBA(30,30,30,1);
    padding: 5px 10px 5px 10px;
    background-color: RGBA(240, 80, 10, 1);
    color: black;
    height: 24px;
    position: relative;
    top: 25px;}

label
    {width: 20px;}

textarea{
    resize: none;
}

/*GLOBAL STYLES
----------------------------------------
*/

body {
    
    background-color: azure;
    margin: 0px;
    min-height: 60%;
    color: black;
max-width: 1519.2px}

p
    {font-family: "Kanit";}

main
    {margin-bottom:170px;}

h1 
    {font-family: "Russo one";
	font-size: 3em;
	font-weight: 700;
    background-color: RGBA(240, 80, 10, 1);
    height: 70px;
    padding: 20px;
    color: white;
}

h1 a:hover
     {background-color: black;}


h2 {
    font-family: "Russo one";
	font-size: 1.6em;
	font-weight: 700;
    color: black;
}

.headerpadding{
    background-color: RGBA(240, 80, 10, 1);
    padding: 20px 20px;
    width: 500px;
}

aside h2{
    margin-left: 40px;
}

h2 a:hover
    {background-color: white;}

a {
    text-decoration: none;
}



@media screen and (max-width: 1000px){
    nav{
        flex-basis: 50%;
        flex-wrap: wrap;
        height: 300px;     
       }   
    footer{
        flex-basis: 50%;
        flex-wrap: wrap;
        height: 450px;     
       }  
    form
        {
      margin-left: 80px;
        }
}

/*two sets of fonts to use throughout the html documents: one for the headings and the other for the body texts
----------------------------------------
*/
